@page
@using BowlingApplication
@using BowlingLibrary
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/styles/participant.css">
<form id="addPlayerForm">
    <h1>Welcome to Bowling</h1>
    <p>Enter Player: <input type="text" id="playerNameInput" name="playerNameInput" value=""/></p>
    <button onclick="handleText()">Add Player</button>
    <p id="addPlayerError"></p>
    <h2>Players Selected</h2>
    <ol id="playersList">
        @foreach (Player player in Service.Players)
        {
            <li>@player.Info.Key</li>
        }
    </ol>
    <p id="playerEmptyError"></p>
    <button type="submit">Play</button>
</form>
<script src="~/scripts/Participant.js"></script>
